* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

#root {
  width: 100%;
  height: 100%; }

.app {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 20px auto;
  justify-content: space-around;
  background: #ECECEC; }
  .app .markdown, .app .preview {
    width: 40%;
    min-height: 800px;
    background: #ffffff;
    margin: 30px 0; }
  .app .text {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    background: #EC644B;
    text-align: center;
    margin-bottom: 20px; }
  .app .previewText {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    background: #87D37C;
    text-align: center;
    margin-bottom: 20px; }
  .app textarea {
    width: 99%;
    height: 90%;
    border: none;
    outline: none; }

.title {
  font-size: 30px;
  text-align: center;
  padding: 10px; }
